/* === CSS Base Reset / Normalisation === */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}
/**********************************************************************************/
:root{
    --head-color: #9899A6;
    --secondary-color: #DD2F30;
    --fird-color: #D9D9D9;
    --degrade-color-1: #30313E;
    --degrade-color-2: #515157;
    

}
html{
    font-family: outfit;
}

/******************************** MAIN CODE****************************/

header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  min-width: 400px;
  background-color: var(--head-color);
  padding: 30px 32px;
}

.logo{
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.logo img{
  width: auto;
}

.logo .burger{
  display: block;
  width: 27px;
  background-color: white;
  height: 3px;
  position: relative;
}
.logo .burger::after{
  content: "";
  display: block;
  position: absolute;
  bottom: 10px;
  width: 27px;
  background-color: white;
  height: 3px;
}

/*********************************** icon_search_bar **************************************/

.icon_search_bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon_search_bar input{
  background-color: rgba(0, 0, 0, 0.0);
  border: none;
  border-bottom: 1px var(--secondary-color) solid;
  width: 60%;
  outline: none;
  padding-left: 18px;
}

.fa-magnifying-glass{
  position: relative;
  left: 18%;
}